<?xml version='1.0' encoding='utf-8'?>
<widget id="{{ cookiecutter.package }}" version="{{ cookiecutter.version }}" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>{{ cookiecutter.project_name }}</name>
    <description>
        {{ cookiecutter.project_description }}
    </description>
    <author email="{{ cookiecutter.author_email }}" href="{{ cookiecutter.author_url }}">
        {{ cookiecutter.author }}
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="21" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
